/* *{
    border: 1px solid red;
} */
html, body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    font-size:16px;
    font-family: Source Sans Pro, sans-serif;
}
#header-div{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #b5b5b5;
    width: 350px;
    background: white;
    margin: 0 auto;
    align-items: end;
}
#addbtn{
    margin-bottom: 6px;
    margin-left: 135px;
}
.logo-img{
    width: 120px;
    cursor: pointer;
}
.avatar-pic{
    border-radius: 50px;
    margin: 10px; 
}
#container{
    width: 350px;
    padding:0;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    margin: 0 auto;
    background: white;
}
.postDiv{
    display: flex;
    width: 350px;
    padding: 0;
    margin:0;
    justify-content: start;
    border-top: 1px solid #b5b5b5;   
}
.newPostDiv{
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 0;
    margin:0;
    justify-content: start;
    border-top: 1px solid #b5b5b5;   
}

button{
    margin-top: 2px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.555);
    color: rgba(0, 0, 0, 0.555);
    padding: 10px 19px;
    border-radius: 20px;
    width: 100%; 
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    cursor: auto;
}

button:hover{
    filter: drop-shadow(1px 1px 2px #1100ff); 
    text-shadow: 1px 1px 1px #1100ff;
}

textarea{
    border: none;
    resize: none;
    padding: 0;
    margin: 10px 0 0 0;
    height: 60px;
    width: 350px;
    font-size: 20px;
    line-height: 30px;
}
.user-div{
    margin:0;
    padding-top:10px;
    display: block;
}
h5, p{
    margin: 0;
    text-align: start;
}
 h5{
    font-size:16px;
}
p{ 
    font-size:14px;
} 
.icon{
    width:25px;
    height:25px;
    margin:0;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.555);
}
.liked{
    color: red;
}
.icon:hover{
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 2px #1100ff);   
}
.icon-div{
    width: 350px;
    display:flex;
    margin-top: 20px; 
    margin-bottom: 0px;
}

.photo-inner{
    padding: 0px;
    padding-left: 10px;
    margin-top: 5px; 
    
}
.photo-comments{
    margin-bottom: 5px; 
}

.comments-div{
    padding: 10px;
    margin: 0;

    
}
.likes{
    font-weight: 700;
    margin: 0 0 12px 0;
}
.user-name{
    font-weight: 700;
}

.photo-inner{
    display: flex
}

.hidden{
    display: none;
}